.main-body {
    display: flex;
}

/* main-left */
.main-body .main-left {
    width: 45%;
    justify-content: start;
}


.main-body .main-left .big-sellerb {
    color: #324E66;

    font-family: 'Bree Serif', cursive;
    font-size: 60px;

    margin-top: 250px;
    margin-left: 100px;
}


.main-body .main-left .main-subtitle {
    color: rgb(12, 50, 120);
    font-family: 'Bree Serif';

    margin-left: 100px;
}

.main-body .main-left .id-textfield {
    width: 300px;
}


/* main - right */
/* animation */
@keyframes ball {
    0% {
        top: 0px;
    }

    95% {
        width: 100px;
    }

    100% {
        top: 100px;
        width: 115px;
        height: 90px;
    }
}

.main-body .main-right {
    width: 50%;
    justify-content: end;
    position: relative;
    left: 100px;
    top: 0;
    width: 100px;
    height: 100px;
    /* border-radius: 10%;
  background: #000000; */
    animation: ball 1s ease-in infinite alternate;
    animation-duration: 1.5s;
}

.main-body .main-right .main-bg-img {
    margin-top: 80px;
    margin-right: 100px;
}

.FormControlLabel-wrapper {
    font-size: 12px;

    margin-left: 40px;
}

.register-resetPassword {
    display: flex;
    margin-left: 100px;
    font-size: 12px;
    text-decoration: none;
}

.manager-register {
    margin-right: 25px;
    text-shadow: grey 1px 0 10px;
    text-decoration: none;
}

.reset-pssword {
    text-shadow: grey 1px 0 10px;
}



/* div {
    position: relative;
    left: 100px;
    top: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #000000;
    animation: ball 1s ease-in infinite alternate;
  } */