
#wrapper{
    width:100%;
    display:flex;
    flex-direction: row;
}

.center{
    text-align: center;
}
#left{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    width:35%;
    padding:20px;
    border-style: none solid none solid;
    border-width: 0px 1px 0px 1px;
}
#right{
    display: flex;
    width: 65%;
    margin:20px;
    min-height : 500px;
    justify-content: center;
    border : 2px solid gray;
    border-radius : 10px;
    flex-direction: column;
}
#welcome_text{
    display: flex;
    text-align: center;
    size: 20px;
    justify-content: center,
}
  .blue{
    color:blue;
  }