#wrppaer{
    width:100%;
    padding:20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.TopText{
    display: flex;
    justify-content: center;

}
.joinningSession {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border : 1px solid black;
}
.Button{
    justify-content: center;
}
.innerInput{
    margin: 10px;
}