.profile-wrapper {
    display: flex;
    
}

.profile-left {
    margin: 0px 20px 0px 150px; /* 상 우 하 좌*/
    padding: 15px;

    
    border-left: thick solid #F8F0DE;
    border-right: thick solid #F8F0DE;
    width: 20%;
    justify-content: left;
    height : 350px;
}

.profile-right {
    margin-right: 150px;
    width: 70%;
    justify-content: right;
    /* display: block; */

}

.profile-right > select {
    
}

.profile-element {

}

.profile-element > div {
    /* border: 1px solid red; */
    background-color: antiquewhite;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 20px;
    
}


